@import url('https://fonts.googleapis.com/css?family=Merienda');

body {
  margin: 0;
  height: 16px;
  line-height: 1.8em;
  font-family: 'Merienda', cursive;
    
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
    background-size: cover;
    background-image: url(img/pexels-photo-953214.jpeg);
    background-position: center;
    color: #fff;
    text-transform: uppercase;
  /*background-image: url('sciezka');*/
}

header section {
  margin: 0 auto;
    width: 640px;
}

header img {
    width: 150px;
    border-radius: 100px;
}

h1 {
  margin: 1em 0;
}

h3
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

main section
{
    border-bottom: 1px solid;
}

main section:last-child
{
    border-bottom: none;
}

main {
  max-width: 1140px;
}

.course {
    display: flex;
    flex-wrap: wrap;
}

.course .title {
    font-weight: 400;
    color:#509e98;
    flex: 0 0 33.3%;
    max-width: 33%;
    font-size: 14px;
}

.course .descrition {
    flex: 0 0 66.6%;
    max-width: 66.6%;
    font-size: 13px;
}

.course .descrition p
{
    padding-left: 1em;
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
